<div class="row">
	<div class="col-md-12">
		<!-- Custom Tabs (Pulled to the right) -->
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs pull-right">
				<li ng-class=" data.state === 'EDIT' ? 'active' : ''">
					<a href="" data-toggle="tab" ng-click="changeState('EDIT', $event)">
						<i class="fa fa-pencil"></i>&nbsp;แก้ไขข้อมูล
					</a>
				</li>
				<li ng-class=" data.state === 'ADD' ? 'active' : ''">
					<a href="" data-toggle="tab" ng-click="changeState('ADD', $event)">
						<i class="fa fa-plus"></i>&nbsp;เพิ่มข้อมูล
					</a>
				</li>
				<li ng-class=" data.state === 'SEARCH' ? 'active' : ''">
					<a href="" data-toggle="tab" ng-click="changeState('SEARCH', $event)">
						<i class="fa fa-search"></i>&nbsp;ค้นหา
					</a>
				</li>
				<li class="pull-left header"><i class="fa fa-th"></i>ข้อมูลประเภทคำถาม</li>
			</ul>
			<div class="tab-content">
				<!-- แก้ไข -->
				<div ng-class=" data.state === 'EDIT' ? 'tab-pane active' : 'tab-pane'" id="edit">
					<div class="container-fluid">
						<form name="edit-form" novalidate>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<input-box label="ชื่อประเภทคำถาม" ng-model="data.questionType.QUESTION_TYPE_NAME" required="true"></input-box>
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<div class="form-group">
										<label for="choose-status">สถานะ : </label>
										<br>
										<div class="btn-group" data-toggle="buttons">
											<label ng-class="data.questionType.ACTIVE == 1 ? 'btn btn-primary active' : 'btn btn-primary'" ng-click="data.questionType.ACTIVE = 1">
												<input type="radio" name="status" autocomplete="off"> ใช้งาน
											</label>
											<label ng-class="data.questionType.ACTIVE == 0 ? 'btn btn-primary active' : 'btn btn-primary'" ng-click="data.questionType.ACTIVE = 0">
												<input type="radio" name="status" autocomplete="off"> ไม่ใช้งาน
											</label>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<div class="pull-right">
										<button class="btn btn-success" ng-click="saveEditQuestionType(data.questionType)">แก้ไขข้อมูล</button>
										<button class="btn btn-danger" ng-click="resetData()">ยกเลิก</button>
									</div>
								</div>
							</div>
						</form>
						<br>
					</div>
				</div>
				<!-- เพิ่ม -->
				<div ng-class=" data.state === 'ADD' ? 'tab-pane active' : 'tab-pane'" id="add">
					<div class="container-fluid">
						<form name="add-form" novalidate>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<input-box label="ชื่อประเภทคำถาม" ng-model="data.questionType.QUESTION_TYPE_NAME" required="true"></input-box>
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<div class="form-group">
										<label for="choose-status">สถานะ : </label>
										<br>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary" ng-click="data.questionType.ACTIVE = 1">
												<input type="radio" name="status" autocomplete="off"> ใช้งาน
											</label>
											<label class="btn btn-primary" ng-click="data.questionType.ACTIVE = 0">
												<input type="radio" name="status" autocomplete="off"> ไม่ใช้งาน
											</label>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<div class="pull-right">
										<button class="btn btn-success" ng-click="addQuestionType(data.questionType)">เพิ่มข้อมูล</button>
										<button class="btn btn-danger" ng-click="resetData()">ยกเลิก</button>
									</div>
								</div>
							</div>
						</form>
						<br>
					</div>
				</div>
				<!-- ค้นหา -->
				<div ng-class=" data.state === 'SEARCH' ? 'tab-pane active' : 'tab-pane'" id="search">
					<div class="container-fluid">
						<form name="search-form" novalidate>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<input-box label="ชื่อประเภทคำถาม" ng-model="data.questionType.QUESTION_TYPE_NAME" required="false"></input-box>
								</div>
							</div>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<div class="form-group">
										<label for="choose-status">สถานะ : </label>
										<br>
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary" ng-click="data.questionType.ACTIVE = 1">
												<input type="radio" name="status" autocomplete="off"> ใช้งาน
											</label>
											<label class="btn btn-primary" ng-click="data.questionType.ACTIVE = 0">
												<input type="radio" name="status" autocomplete="off"> ไม่ใช้งาน
											</label>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<div class="pull-right">
										<button class="btn btn-success" ng-click="getQuestionType(data.questionType)">ค้นหาข้อมูล</button>
										<button class="btn btn-danger" ng-click="resetData()">ยกเลิก</button>
									</div>
								</div>
							</div>
						</form>
						<br>
					</div>
				</div>
				<!-- /.tab-pane -->
			</div>
			<!-- /.tab-content -->
		</div>
		<!-- nav-tabs-custom -->
	</div>
	<!-- /.col -->
</div>

<!--table-->

<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">ตารางข้อมูลประเภทคำถาม</h3>
				<div class="pull-right">
					<button class="btn btn-info" ng-click="updateQuestionType(selectedList)" ng-disabled="selectedList.length > 1">แก้ไข &nbsp;<i class="fa fa-pencil"></i></button>
					<button class="btn btn-danger" ng-click="deleteQuestionType(selectedList)">ลบข้อมูล &nbsp;<i class="fa fa-trash"></i></button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection style="width: auto;height: 200px;"></div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
